
body   {

font-family: "Spirax", sans-serif;
margin: 0;
padding:0;
background-color: darkred;
}

header  {
    display: block;
    background-color: #381f26;
  display: flex;
  justify-content: center;
    opacity: 0.8;
}

section {
    height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
    font-size: 50px;
    margin: 0 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hot-section {
     background-image: url("hot.jpg");
}

.juicy-section{
background-image: url("juicy.jpg");
}   

.cosy-section{
    background-image: url("cosy.jpg");
}

h1{
  color: darkred;
  font-size: 150px;
    margin-bottom: 0;
}

.red-box {
  background-color: rgba(139, 0, 0, 0.8); /* mörkröd med lite transparens */
  color: white;
   padding: 2px 80px;
  margin: 20px 0;
  display: inline-block;   /* så den blir så stor som texten kräver */
  max-width: 90%;
  font-family: "Poiret One", sans-serif;
  font-size: 40px;
}

.left-box {
  margin-left: 30%;
}

.right-box {
   margin-right: 15%;
}

.menu {
  width: 100%;
  max-width: 400px;
  border-collapse: collapse;
  color: white;
 font-family: "Poiret One", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(53, 50, 50, 0.8);
}

.menu .price {
  text-align: right;
  width: 100px;
}
